body,html{
	background: orange;
	height: 100%;
}
.main-title{
	color: orange !important;
	font-size: 26px;
}
.large-padding{
	padding: 10px 15px;
}
.table-cart{
	background-color: #fff;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 89px;

}
.table-cart img{
	width: 50px;
}
.no-margin{
	margin: 0;
}
.no-float{
	float: none;
}
.img-shirt{
	height: 255px !important;
}
.img-show-shirt{
	height: 500px;
}
footer{
	background: #222;
	text-align: center;
}
footer p{
	text-align: justify;
	color: #fff;
}
footer h3{
	color: #f7f7f7;
}
ul.redes li{
	display: inline-block;

}

ul.redes li a{
	color: orange !important;
}
.avatar{
	border: 5px solid orange;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}
#products {
position: relative;
max-width: 100%;
width: 100%;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.product-block{
	background-color: #fff;
	border-radius: 1em;
	padding: 1em;
}